#min, #close {
    -fx-fill: #181a20; /* Initial gradient */
    -fx-transition: -fx-fill 0.6s ease;
}
#close:hover {
    -fx-fill: #d50000;
}
#min:hover{
    -fx-fill: #eaecef;
}
#min:pressed{
    -fx-fill: grey;
}
#close:pressed{
    -fx-fill: #930000
}

#ReturnIcon{
    -fx-cursor: hand;
}
#ReturnIcon:hover{
    -fx-font-size: 100px; /* Set the font size to 100 pixels */
    -fx-scale-x: 1.2; /* Increase the size of the icon by 20% horizontally */
    -fx-scale-y: 1.2; /* Increase the size of the icon by 20% vertically */
    transition: all 0.3s ease; /* Smooth transition for the change */
}

#AddBonds,#DeleteBonds{
    -fx-background-color: #fcd535;
    -fx-cursor: hand;
}
#AddBonds:hover,#DeleteBonds:hover{
    -fx-background-color: #cfaf30;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-color:  #181a20;
}

.table-view .column-header-background {
    -fx-background-color: #fcd535;
    -fx-background-radius: 10 10 0 0;
}

.table-view .table-cell {
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size:  18px;
    -fx-text-fill: WHITE;
}


.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0.0;
    -fx-padding: 0.0 0.0 0.0 0.0;
}


.table-row-cell:odd{
-fx-background-color: #ebb50c;
-fx-background-insets: 0, 0 0 1 0;
-fx-cursor: hand;
}

.table-row-cell:even{
-fx-background-color: #e6af0b;
-fx-background-insets: 0, 0 0 1 0;
-fx-cursor: hand;
}

.table-row-cell:hover{
    -fx-background-color: #bf930a;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:focused{
    -fx-background-color: #bf930a;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
