#min, #close {
    -fx-fill: #181a20; /* Initial gradient */
    -fx-transition: -fx-fill 0.6s ease;
}
.label{
    -fx-font-family: "Yaahowu Bold";
}
/*#pest:hover {*/
/*    -fx-fill: blue; !* Color on hover *!*/
/*}*/
/* Change icon color on mouse hover */
#close:hover {
    -fx-fill: #d50000;
}
#min:hover{
    -fx-fill: #eaecef;
}
#min:pressed{
    -fx-fill: grey;
}
#close:pressed{
    -fx-fill: #930000
}
#MenuClose,#Menu,#market,#wd,#TransHistory,#AccMangb,#logoutb,#Dashboardb,#Stocksb,#Bondsb,#Optionsb,#hotstockstit{
    -fx-font-family: "Yaahowu Bold";
}
#Dashboardb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 25;
}
#market:hover,#wd:hover,#logoutb:hover,#Stocksb:hover,#Bondsb:hover,#Optionsb:hover,#market:pressed,#logoutb:pressed,#Stocksb:pressed,#Bondsb:pressed,#Optionsb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 30;
    -fx-text-fill: #181a20;
}
#YrStockb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 22;
}
#YrStockb:hover,#YrStockb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 25;
    -fx-text-fill: #181a20;
}
#Stocksb,#Bondsb,#Optionsb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 25;
}
#Dashboardb:hover,#Dashboardb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 28;
    -fx-text-fill: #181a20;}
#market,#logoutb,#wd{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 25;
}
#AccMangb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 15;
}
#TransHistory{
    -fx-font-size: 15;
}
#immenuen,#Menu{
    -fx-text-fill: #a3a3a3;
    -fx-font-size: 34;
}
#immenuen:hover,#Menu:hover{
    -fx-text-fill: #181a20;
    -fx-font-size: 34;
}
#TransHistory:hover,#AccMangb:hover,#wd:pressed,#TransHistory:pressed,#AccMangb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 17;
    -fx-text-fill: #181a20;
}
#datee{
    -fx-font-size: 19;
    -fx-text-fill: #181a20;
    -fx-font-family: "Yaahowu Bold";
}
#hidebalance:hover,#showbalance:hover{
    -fx-cursor: hand;
}
#welcomemes{
    -fx-font-size: 29;
    -fx-text-fill: #e8eaed;
    -fx-font-family: "Yaahowu Bold";
}
#balance{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 47;
}
#balancetit,vpnlevel{
    -fx-font-family: "Yaahowu Bold";
}
#hotstocks .scroll-bar:vertical,#hotbonds .scroll-bar:vertical {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

#hotstocks .scroll-bar:horizontal,#hotbonds .scroll-bar:vertical {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
#hotstocks .list-cell,#hotbonds .list-cell {
    -fx-control-inner-background: #ebb50c; /* Red background for cells */
    -fx-text-fill: white; /* Black text color */
}

#hotstocks .list-cell:filled:selected, .list-view .list-cell:filled:selected:focused {
    -fx-background-color: -fx-control-inner-background; /* Keep the background color on selection */
}
#hotbonds .list-cell:filled:selected, .list-view .list-cell:filled:selected:focused {
    -fx-background-color: -fx-control-inner-background; /* Keep the background color on selection */
}