#min, #close {
    -fx-fill: #181a20; /* Initial gradient */
    -fx-transition: -fx-fill 0.6s ease;
}
.label,.button{
    -fx-font-family: "Yaahowu Bold";
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-series-line {
    -fx-stroke-width: 2;
    -fx-fill: red;
}
/* Chart plot area symbols */
.chart-symbol {
    -fx-background-radius: 6px;
    -fx-padding: 6px;
}

/* Chart horizontal grid lines */
.chart-horizontal-grid-lines {
    -fx-stroke: #cccccc;
    -fx-stroke-dash-array: 5 5;
}

/* Chart vertical grid lines */
.chart-vertical-grid-lines {
    -fx-stroke: #cccccc;
    -fx-stroke-dash-array: 5 5;
}
#showgraph{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 19;
}
/*#pest:hover {*/
/*    -fx-fill: blue; !* Color on hover *!*/
/*}*/
/* Change icon color on mouse hover */
#titleslabel{
    -fx-text-fill: white ;
}
#close:hover {
    -fx-fill: #d50000;
}
#min:hover{
    -fx-fill: #eaecef;
}
#min:pressed{
    -fx-fill: grey;
}
#close:pressed{
    -fx-fill: #930000
}
#depositb,#withdraw,#depositb:hover,#withdraw:hover,#depositb:pressed,#withdraw:pressed,#sellb,#sellb:pressed,#sellb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 19;
    -fx-cursor: hand;
}
#MenuClose,#Menu,#market,#wd,#TransHistory,#AccMangb,#logoutb,#Dashboardb,#Stocksb,#Bondsb,#Optionsb,#hotstockstit{
    -fx-font-family: "Yaahowu Bold";
}
#Dashboardb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 25;
}
#market:hover,#wd:hover,#logoutb:hover,#Stocksb:hover,#Bondsb:hover,#market:pressed,#logoutb:pressed,#Stocksb:pressed,#Bondsb:pressed,#Optionsb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 30;
    -fx-text-fill: #181a20;
}
#YrStockb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 19;
}
#YrStockb:hover,#YrStockb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 21;
    -fx-text-fill: #181a20;
}
#Stocksb,#Bondsb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 25;
}
#Optionsb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 20;
}
#Optionsb:hover{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 22;
}
#Dashboardb:hover,#Dashboardb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 28;
    -fx-text-fill: #181a20;}
#market,#logoutb,#wd{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 25;
}
#AccMangb{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 15;
}
#TransHistory{
    -fx-font-size: 15;
}
#immenuen,#Menu{
    -fx-text-fill: #a3a3a3;
    -fx-font-size: 34;
}
#immenuen:hover,#Menu:hover{
    -fx-text-fill: #181a20;
    -fx-font-size: 34;
}
#TransHistory:hover,#AccMangb:hover,#wd:pressed,#TransHistory:pressed,#AccMangb:pressed{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 17;
    -fx-text-fill: #181a20;
}
#datee{
    -fx-font-size: 19;
    -fx-text-fill: #181a20;
    -fx-font-family: "Yaahowu Bold";
}
#hidebalance:hover,#showbalance:hover{
    -fx-cursor: hand;
}
#welcomemes{
    -fx-font-size: 29;
    -fx-text-fill: #e8eaed;
    -fx-font-family: "Yaahowu Bold";
}
#balance{
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size: 47;
}
#balancetit,vpnlevel{
    -fx-font-family: "Yaahowu Bold";
}
#hotstocks .scroll-bar:vertical,#hotbonds .scroll-bar:vertical {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

#hotstocks .scroll-bar:horizontal,#hotbonds .scroll-bar:vertical {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
#hotstocks .list-cell,#hotbonds .list-cell {
    -fx-control-inner-background: #ebb50c; /* Red background for cells */
    -fx-text-fill: white; /* Black text color */
}

#hotstocks .list-cell:filled:selected, .list-view .list-cell:filled:selected:focused {
    -fx-background-color: -fx-control-inner-background; /* Keep the background color on selection */
}
#hotbonds .list-cell:filled:selected, .list-view .list-cell:filled:selected:focused {
    -fx-background-color: -fx-control-inner-background; /* Keep the background color on selection */
}
.table-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
#yieldB,#numberB,#startPrice{
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-color:  #181a20;
}

.table-view .column-header-background {
    -fx-background-color: #fcd535;
    -fx-background-radius: 10 10 0 0;
}

.table-view .table-cell {
    -fx-font-family: "Yaahowu Bold";
    -fx-font-size:  18px;
    -fx-text-fill: WHITE;
}

.table-row-cell:odd{
    -fx-background-color: #ebb50c;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even{
    -fx-background-color: #e6af0b;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:hover:even{
    -fx-background-color: #e6af0b;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-row-cell:hover:odd{
    -fx-background-color: #ebb50c;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:focused:odd{
    -fx-background-color: #ebb50c;
}
.table-row-cell:focused:even{
    -fx-background-color: #e6af0b;
}
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

#StocksMarket .table-row-cell:hover,#StocksMarket .table-row-cell:focused,#userStockList .table-row-cell:hover,#userStockList .table-row-cell:focused {
    -fx-background-color: #bf930a;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #474d57 ;
    -fx-text-fill: #eaecef;
    -fx-font-size: 30;
    -fx-font-family: "Yaahowu Bold";
    -fx-border-width:  0px 0px 2px 0px ;
}
.text-field:hover {
    -fx-border-color:#f0b90b;
}
#companyName{
    -fx-background-color: transparent;
    -fx-border-color: #474d57 ;
    -fx-text-fill: #eaecef;
    -fx-font-size: 10;
    -fx-font-family: "Yaahowu Bold";
    -fx-border-width:  0px 0px 2px 0px ;
}
#companyName:hover {
    -fx-border-color:#f0b90b;
}
