#min, #close {
    -fx-fill: #181a20; /* Initial gradient */
    -fx-transition: -fx-fill 0.6s ease;
}
#close:hover {
    -fx-fill: #d50000;
}
#min:hover{
    -fx-fill: #eaecef;
}
#min:pressed{
    -fx-fill: grey;
}
#close:pressed{
    -fx-fill: #930000
}
#RefreshIcon,#ReturnIcon{
    -fx-cursor: hand;
}
#ReturnIcon:hover {
    -fx-font-size: 100px; /* Set the font size to 100 pixels */
    -fx-scale-x: 1.2; /* Increase the size of the icon by 20% horizontally */
    -fx-scale-y: 1.2; /* Increase the size of the icon by 20% vertically */
    transition: all 0.3s ease; /* Smooth transition for the change */
}

/*#RefreshIcon:hover{
   -fx-rotate: 70;
   transition: all 0.6s ease;  Smooth transition for the change
}*/

.label{
   -fx-font-family: "Yaahowu Bold";
}

#blockuserbutton,#unblockuserbutton,#deleteuserbutton,#userlist{
    -fx-background-color: #fcd535;
    -fx-font-family: "Yaahowu Bold";
    -fx-cursor: hand;
}
#blockuserbutton:hover,#unblockuserbutton:hover,#deleteuserbutton:hover,#userlist:hover{
    -fx-background-color: #cfaf30;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 1 10;
    -fx-background-color: #fcd535;
    -fx-cursor: hand;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover {
    -fx-padding: 1 10;
    -fx-background-color: #cfaf30;
}